@import "tailwindcss";



@font-face {
  font-family: "Urbanist";
  src: local("Urbanist"),
       url("./fonts/Urbanist/static/Urbanist-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  min-height: 100vh;
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}
